# Ignore nvidia stuff because you aren't touching it anyway
nvidia.nix

# Hardware config because two devices gets wacky

hardware-configuration.nix

# Backup files
*.bak
*~

# Editor-specific files
.vscode/

# Logs
logs/
*.log

# That fucking bash file
update.sh
