# Ignore system-specific hardware config and nvidia
hardware-configuration.nix
nvidia.nix

# Backup files
*.bak
*~

# Editor-specific files
.vscode/

# Logs
logs/
*.log

# That fucking bash file
update.sh
